.service-container{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:90px;

  /* image on right */
  flex-direction: row-reverse;
}

.service-container img{
  width:280px;
  object-fit:contain;
}

/* TEXT */

.service-text{
  max-width:520px;
}

.service-text h2{
  font-size:30px;
  margin-bottom:12px;
  color:#1f1f1f;
}

.service-text p{
  font-size:15px;
  line-height:1.7;
  color:#555;
}

/* BUTTON */

.service-text button{
  margin-top:18px;
  padding:10px 24px;
  border:1px solid #514AD7;
  background:transparent;
  color:#514AD7;
  border-radius:8px;
  cursor:pointer;
  transition:0.2s ease;
}

.service-text button:hover{
  background:#514AD7;
  color:white;
}